<div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    About Me
                </h1>

	<img class="img-responsive" src=<%= image_path('my_image.jpg') %> alt="my">
	<div id="content">
		<h1>This is a Blog Website</h1>
		<p class="lead">My name is <strong>Abhay Gupta</strong> and I created this blog website so that everyone can share their knowledge across the social platform and take reviews from the public in a nice and quicker way. </p>
	</div>
</div>

<%= render 'partials/search' %>
<%= render 'partials/categories' %>
<%= render 'partials/widget' %>
</div>