<div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    FAQs (Frequenty Asked Questions)
                </h1>

	<div id="content">
		<ol style="font-size:20px;">
			
			<li>
				<div class="question">What is this website useful for?</div>
				<div class="solution">This website helps you share your knowledge in various domains and you can also learn from the posts of other people.</div>
			</li>
			<hr>
			<li>
				<div class="question">How to make post in yourboard?</div>
				<div class="solution">First you need to sign up to make a post and then you need to click <strong>"Make Post"</strong> button on the top in the navbar.</div>
			</li>
			<hr>
			<li>
				<div class="question">How do I get XP?</div>
				<div class="solution">
					There are two procedure from which you get XP:
					<ul>
						<li>For posting a post you will get 100 XP</li>
						<li>For commenting on any post you will get 10 XP</li>
					</ul>
				</div>
			</li>
			<hr>
			<li>
				<div class="question">What is the benefit to the user of yourboard?</div>
				<div class="solution">Soon there will be a option to convert XP to real money.</div>
			</li>
			<hr>
			<li>
				<div class="question">Can I update and delete my posts?</div>
				<div class="solution">Yes, when you open the post you will see two buttons on the top of <strong>"Update"</strong> and <strong>"Delete"</strong></div>
			</li>
			<hr>
			<li>
				<div class="question">Where can I see all of my posts?</div>
				<div class="solution">When you are signed in, there will be a <strong>profile</strong> option on the top in the navbar. From there you can click <strong>My Posts</strong> to see your posts. And you can also change your timeline and profile pic from there.</div>
			</li>
			<hr>
			<li>
				<div class="question">What to do if I forgot the login password?</div>
				<div class="solution">You can reset your password by clicking <strong>Forgot your password?</strong> from the <strong>Login/Sign Up</strong> button on the top in navbar. From there you will receive a confirmation mail to your registered email account.</div>
			</li>
			<hr>
			<li>
				<div class="question">What to do if I do not get my answer from any of the FAQs?</div>
				<div class="solution">You can always put your query in feedbacks section.</div>
			</li>
			<hr>
		</ol>
	</div>
	
</div>

<%= render 'partials/search' %>
<%= render 'partials/categories' %>
<%= render 'partials/widget' %>
</div>